---
apiVersion: metal3.io/v1alpha1
kind: Provisioning
metadata:
  name: provisioning-configuration
spec:
  preProvisioningOSDownloadURLs: {}
  provisioningMacAddresses:
    - "{{ _mgmt_mac_for_bmf.stdout }}"
  provisioningNetwork: Disabled
  watchAllNamespaces: true
