---
apiVersion: v1
kind: Secret
metadata:
  name: osac-inventory-config
  namespace: {{ snapshot_osac_namespace }}
type: Opaque
stringData:
  inventory.yaml: |
    name: metal3-inventory
    type: metal3
    hostClass: metal3
    networkClass: metal3
    options:
      metal3:
        namespace: {{ snapshot_osac_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: osac-management-config
  namespace: {{ snapshot_osac_namespace }}
type: Opaque
stringData:
  management.yaml: |
    name: metal3-management
    type: metal3
    options:
      metal3:
        namespace: {{ snapshot_osac_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: osac-os-clouds
  namespace: {{ snapshot_osac_namespace }}
type: Opaque
stringData:
  clouds.yaml: |
    clouds: {}
